<h2>Daten bearbeiten</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

Name
  <div class="form-row">

   <div class="col">
     <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "Vorname" %>
   </div>
   <div class="col">
     <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Nachname" %>
   </div>
 </div>

<br>

  <div class="field">
    Email
    <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "E-Mail" %>
  </div>
<br>
  <div class="field">
    Threema ID
    <%= f.text_field :threema_id, class: "form-control", placeholder: "Threema ID" %>
  </div>


<hr>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    Passwort (frei lassen wenn es nicht geändert werden soll)
    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
  </div>

<br>
<% if current_user.is_owner %>
  <hr>
  <h5> Mail Benachrichtigungen </h5><br>
  <div class="custom-control custom-switch">
      <%= f.check_box :mail_admin_new_user, class: "custom-control-input", id: "customSwitch1"   %>
      <label class="custom-control-label" for="customSwitch1">Neuer Benutzer hat sich registriert </label>
    </div>
    <br />

  <div class="custom-control custom-switch">
      <%= f.check_box :mail_admin_invitation_accepted, class: "custom-control-input", id: "customSwitch2"   %>
      <label class="custom-control-label" for="customSwitch2">Ein Benutzer hat die Einladung akzeptiert</label>
    </div>
    <br />

  <div class="custom-control custom-switch">
      <%= f.check_box :mail_admin_new_group_request, class: "custom-control-input", id: "customSwitch3"   %>
      <label class="custom-control-label" for="customSwitch3">Ein Benutzer hat eine neue Gruppe gegründet</label>
  </div>
    <br />

  <div class="custom-control custom-switch">
      <%= f.check_box :mail_admin_daily_info, class: "custom-control-input", id: "customSwitch4"   %>
      <label class="custom-control-label" for="customSwitch4">Zusammenfassung von Neuigkeiten (wird täglich gesendet wenn es neue Gruppen oder Benutzer gibt)</label>
  </div>
    <br />

<% end %>
Benutzerrolle: <b><%= resource.role %></b><br><br>

  <div class="actions">
    <%= f.submit "Daten aktualisieren", class:"btn btn-primary" %>
  </div>
<% end %>
<br><br>
<hr>

<h3>Account löschen?</h3>
<br>
<%= button_to "Account löschen", registration_path(resource_name), data: { confirm: "Sicher?" }, class:"btn btn-danger", method: :delete %>
