<%= form_for @group do |form| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.text_field :name, placeholder: "Gruppenname" %><br>
    <br />
    <%= form.collection_select :member_ids, Member.order(:first_name), :id, :name, {}, {multiple: true} %>

    <%= form.submit %>
  </div>
<% end %>
