<%= link_to group do %>

  <div class="group_item shadow">
  <%= show_image(group) %>
    <span class="group-name"><%= group.name.truncate(30) %></span>

    <br>
    <span class="group-members"><%= group.members.count %> Mitglieder</span>
    <span class="group-state"><%= group.state %></span>
    <% if group.threema_id.nil? %>
    <span class="group-state badge badge-primary">Nicht Synchronisiert</span>
    <% end %>
  </div>
<% end %>
