<div class="action_buttons">
<%= link_to "Bearbeiten", edit_group_path, class:"btn btn-outline-primary btn-sm" %>
<%= link_to "Löschen", @group, method: :delete, data: {confirm: 'Gruppe wirklich löschen?'}, class:"btn btn-outline-danger btn-sm" %><br>
</div>


<h1><%= show_big_image(@group) %>
  <span data-toggle="tooltip" data-placement="right" title='Threema-ID: <%= @group.threema_id %>'>
  <%= @group.name %>
</span>

 <% if @group.threema_id.nil? %>| <span class="badge badge-secondary">Nur Lokal</span> <% end %>
</h1>


<%= @group.state %> <br>
<% if @threema_members %>
  <% if @threema_members.count != @group.members.count %>
  <h5>Nicht synchronisiert!</h5>
    <%= link_to "sync members", group_path(:id => @group.id, :sync => "sync_now"), class:"btn btn-primary btn-sm" %><br>
  <% else %>
  <h5>Gruppe synchronisiert</h5>
  <% end %>
  <% else %>
  <h5>Gruppe wurde noch nicht veröffentlicht.</h5><br>
  <% if current_user.role == "Benutzer" %>
  Ein Administrator wird die Gruppe prüfen und freigeben.
  <% end %>
  <%= link_to 'Gruppe mit Threema synchronisieren', group_create_group_in_threema_path(@group), method: :post, data: { confirm: 'Die Gruppe wird auf Threema hochgeladen. Fortfahren?' }, class: "btn btn-primary btn-block" if current_user.is_management_or_higher%>
<% end %>


<br><br>
<table class="table table-hover ">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Kategorie</th>
      <th scope="col">Threema ID</th>
    </tr>
  </thead>
  <tbody>
<%= render @members %>
</tbody>
</table>

<hr>
