<tr>
  <td>  <%= user.first_name %>
    <%= user.last_name %>
  </td>
  <td>  <%= user.threema_id %></td>
  <td><%= form_for user, :url => {action: "update_user_role", params: {id: user.id}}, method: "put" do %>
    <%= select_tag :role, options_for_select(['Unbestätigt', 'Benutzer', 'Verwaltung', 'Administrator'], user.role), class: "custom-select custom-select-sm", :onchange => "this.form.submit();" %>
  <% end %>
</td>
</tr>
