<tr class="<%= user.role %>">
  <td>
    <% if user.first_name.present? %>
    <% member = Member.find_by(threema_id: user.threema_id) %>
    <%= link_to user.name, member %>
  <br>
    <%= user.email %>

    <% else %>
    <i>- Eingeladen -</i><br>
    <%= user.email %>
    <% end %>
    <br>
  </td>
  <td>
    <% if user.threema_id.present? %>
    <%= user.threema_id %>
    <% else %>
    -
    <% end %>
  </td>
  <td><%= form_for user, :url => {action: "update_user_role", params: {id: user.id}}, method: "put" do %>
    <% if current_user == user %>
    <%= current_user.role %>
    <% else %>
    <%= select_tag :role, options_for_select(['Unbestätigt', 'Benutzer', 'Verwaltung', 'Administrator', 'Besitzer'], user.role), class: "custom-select custom-select-sm", :onchange => "this.form.submit();" %>
    <% end %>
  <% end %>
</td>
<td style="text-align: right">
<%= button_to admin_destroy_user_path(user), data: { confirm: "#{user.name} wirklich löschen?" }, class:"btn btn-danger", method: :delete do %>
<i class="fas fa-trash-alt"></i>
<% end %>
</td>
</tr>
