<h1>Zusammenfassung der neuesten Aktivitäten </h1>
<h3>Gruppen</h3>
Es gibt insgesamt <b><%= @groups.count %> Gruppen</b>, die noch nicht mit Threema synchronisiert wurden.
<br><br>
<% @groups.each do |group| %>
<li>
  <%= link_to group.name, group %> |
  <%= group.members.count %> Mitglieder |
  <%= User.find(group.created_by).name unless group.created_by == nil%>
</li>
<% end %>
<br><br>
<h3>Benutzer</h3>
Es haben sich in den letzten 24h <b><%= @new_users.count %> Benutzer</b> registriert oder wurden eingeladen.<br>

<br>

<% @new_users.each do |user| %>
<li>
  <%= user.name %>
</li>
<% end %>
