<p class="notice"><b>Threema AJG</b> ist umgezogen wodurch eine erneute Registrierung erforderlich wird.</p>

<h2>Login.</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-Mail" %>
  </div>

  <div class="custom_button">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Passwort" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      Eingeloggt bleiben
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Einloggen", class: "custom-button" %>
  </div>
<% end %>
<hr>
<%= render "devise/shared/links" %>
