<%= render "bookings/head_image" %>
<%= render "bookings/date" %>


<div class="booking_details">
<strong>Dauer:</strong>
<%= (@booking.end_date - @booking.start_date)/ 1.hour %>stunden


<p>

  <% if @booking.anonymous_booking %>
  <b><%= @booking.user.name %> für folgende Person:</b><br>
    Name: <span id="user_name"><%= @booking.anonymous_booking.name %></span><br>
    Telefon:<%= @booking.anonymous_booking.phone %><br>
    Mail: <%= @booking.anonymous_booking.email %>
  <% else %>
    <strong>User:</strong>
    <%= link_to user_path(@booking.user) do %>
    <span id="user_name"><%= @booking.user.name%></span>
    <% end %>
  <% end %>
</p>


<p>
  <strong>Beschreibung:</strong>
  <%= @booking.description %>
</p>

</div>

<div class="form_container" >

<% if @check_in.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @check_in.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

</div>

<%= simple_form_for :check_in do |form| %>
<div class="form_container">

<% @booking.types.each do |t| %>
  <div class="field">
    Ressourcengruppe: <%= t.name %>
    <% if (t.items.select {|item| item.available?}).size == 1 %>
      <%= form.collection_select(:item_ids, t.items.select {|item| item.available?}, :id, :name, {:selected => (t.items.select {|item| item.available?}).first}, { :class=>'form-control check_in_item_ids', :name => 'check_in[item_ids][]', required: true})%>
    <% else %>
      <%= form.collection_select(:item_ids, t.items.select {|item| item.available?}.sort, :id, :name, {:prompt => "Gerät auswählen ..."}, { :class=>'form-control check_in_item_ids', :name => 'check_in[item_ids][]', required: true})%>
    <% end %>
    <br>
  </div>
<% end %>

<div id="terminal_controller">
    <span onclick="show()" class="btn btn-outline-primary btn-sm btn-block" id="show_terminal">Unterschrift auf externen Terminal einholen</span>
    <small class="text-muted">Gehe mit einem anderen Gerät auf <%= terminal_url %></small>

    <%= render "check_in/qr_modal" %>
</div>

<br><br>
<div id="spinner">
  <div class="d-flex justify-content-center align-items-center center">
    <strong>Bitte warten während der Kunde unterschreibt ...</strong>
    <div class="spinner-grow text-primary" role="status"></div>
  </div>
</div>

<div id="received_signature" ></div>


<div id="signature_form">
  <%= form.input_field :signature,as: :hidden, class: 'signature_pad_input' %>
  <div class="signature_pad text-center" id="signature_pad">
    <div class="signature_pad_body">
      <canvas id="signature_field_receiver"></canvas>
    </div>
    <div class="signature_pad_footer">
      <button type="button" class="btn btn-primary btn-sm signature_pad_clear">Clear</button>
      <%= @booking.anonymous_booking ? @booking.anonymous_booking.name : @booking.user.name %>, <%= Time.now.strftime("%d.%m.%Y")  %>
    </div>
  </div>

  <div class="form_container">

      <%= form.hidden_field(:booking_id, :value => @booking.id) %>
      <%= form.hidden_field(:admin_id, :value => current_user.id) %>

      <div class="custom-control custom-switch">
        <%= form.check_box :terms, {class: "custom-control-input", id: "customSwitch1"}, {:required => true }  %>
        <label class="custom-control-label" for="customSwitch1" >
          <%= @team.terms %>
        </label>
      </div>
  </div>
    <br><br>
      <%= form.button :submit, 'Speichern', class: 'btn btn-secondary signature_pad_save'  %>
</div>
<% end %>




<script>


  function draw() {
    var canvas = document.getElementById('signature_field_receiver');
        canvas.height = canvas.offsetHeight;
        canvas.width = canvas.offsetWidth;
        window.onresize = resizeCanvas(canvas);
    var img = new SignaturePad(canvas);
    var image_data = document.getElementById("signature_field_receiver").value;
        img.fromDataURL(image_data);
  }

  $('#spinner').hide()


</script>
