<div class="action_buttons">
  <%= link_to "Bearbeiten", edit_distribution_list_path, class:"btn btn-outline-primary btn-sm" unless @list.name == "All"%>
</div>


<h1><%= @list.name %></h1>

<%= @members.count %> Empfänger<br>
<br>
<%= link_to "Nachricht senden", distribution_list_send_message_path(@list.id), class:"btn btn-primary btn-block btn-lg" %>
<br><br>
<table class="table table-hover ">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Kategorie</th>
      <th scope="col">Threema ID</th>
    </tr>
  </thead>
  <tbody>
<%= render @members %>
</tbody>
</table>
