

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "ajg_logo2.png", width: "30", height: "30", class:"d-inline-block align-top"  %>
    <b>Threema.</b><span style="color: #5AADDD; font-weight: 100;">AJG</span><b>.</b>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <% unless current_user.is_unconfirmed %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-users"></i> Gruppen
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Alle Gruppen", groups_path, class: "dropdown-item" if current_user.is_admin %>
            <%= link_to "Neue Gruppe", new_group_path, class: "dropdown-item" %>
            <%= link_to "Meine Gruppe", groups_my_groups_path, class: "dropdown-item" %>
            <%= link_to "Anfragen verwalten ", groups_group_requests_path, class: "dropdown-item" if current_user.is_admin %>
          </div>
        </li>
        <% end %>

        <% unless current_user.is_unconfirmed %>
        <li class="nav-item">
          <%= link_to members_path, class: "nav-link" do %>
            <i class="fas fa-users"></i> Mitglieder
          <% end %>
        </li>
        <% end %>


        <% unless current_user.is_unconfirmed %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bullhorn"></i>  Verteilerlisten
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          </div>
        </li>
        <% end %>

        <% unless current_user.is_unconfirmed %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-rss"></i>  Feeds
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        </div>
      </li>
      <% end %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cog"></i>  Einstellungen
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Einstellungen", edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to "Benutzerverwaltung", users_path, class: 'dropdown-item' if current_user.is_admin%>

          </div>
        </li>
      </ul>

    <div class="navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to home_impressum_path, class: "nav-link" do %>
          <i class="fas fa-info"></i> Info
          <% end %>        </li>
        <li class="nav-item">
          <% if current_user %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
          <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
