<%= @members.count %> Mitglieder



<div class="input-group">
    <%= form_tag members_path, class: "form-inline", method: :get do %>
      <div style="width: 250px">
        <%= select_tag "category", options_for_select(@categories, params[:category]),  class: "custom-select custom-select-sm", :onchange => "this.form.submit();", :include_blank => 'Kategorie wählen'%>
      </div>
      <%= text_field_tag :search, params[:search], placeholder: "Suchen..", class: "form-control form-control-sm" %>
      <div class="input-group-append">
        <%= button_tag :submit, class: "btn btn-sm btn-primary" do %>
          Suchen
        <% end %>
      </div>
    <% end %>
</div>
<br><br>

<%= render @members %>
